

<div class="card-container">
    <mat-card>
        <div class="parking-lot-name">
            {{parkingLot.name}} 
        </div>
        <div class="status-section">
            
            <div class="parking-lot-status">
                {{parkingLot.freePlaces}}/{{parkingLot.totalPlaces}}
            </div>
        </div>
        <div class="simulate-btn">
            <button id="minus" *ngIf="parkingLot.totalPlaces-parkingLot.freePlaces>0" mat-raised-button color="primary" (click)="exit()" >-</button>
            <button id="plus" *ngIf="parkingLot.freePlaces>=0" mat-raised-button color="primary" (click)="enter()" >+</button>
        </div>
    </mat-card>
</div>


