.card-container {
    margin: 20px;
    font-family: openSansHebrew;
}

.card-container mat-card {
    padding: 0px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    background: #eaeaea;
    height: 90px;
}

.card-container mat-card:hover {
    background: #dedada;
}

.parking-lot-name {
    height:90px;
    float: right;
    font-size:20px;
    font-weight: bold;
    width: 45%;
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}

.exit-btn {
    display: inline-block;
    float: left;
    width:10%;
}

.exit-btn button {
    height:90px;
    float:left;
}