<div class="sticky-menu">
  <img src="../assets/images/P.new.png">
  <div class="app-menu">
      <!-- <button mat-button (click)="navigate('simulation')">סימולטור</button> -->
      <!-- <a href="simulation"><img border="0" alt="barrier" src="../assets/images/barrier.png" width="100%" height="100%"></a> -->
      <button mat-button (click)="navigate('parkd')">כניסה / יציאה מחניון</button>
  </div>
</div>
<div class="main-nav">
  <div class="app-logo">
    <img src="../assets/images/logo.new.png">
  </div>
</div>
<router-outlet></router-outlet>
<app-loader *ngIf="parkdService.isLoader"></app-loader>