

<div class="card-container">
  <mat-card>
    <div class="parking-lot-name">
      {{parkingLot.name}}
    </div>
    <div class="status-section">

      <div class="parking-lot-status">
        מקומות פנויים : {{parkingLot.freePlaces}} מתוך {{parkingLot.totalPlaces}}
      </div>
      <div class="parking-lot-about-to-be-free">
        <span *ngIf="parkingLot.aboutToBeFreePlaces - parkingLot.waitingToEnter > 0">{{parkingLot.aboutToBeFreePlaces - parkingLot.waitingToEnter}} מתפנה בקרוב</span>
      </div>
    </div>
    <div class="reserve-btn">
      <button [disabled]="parkingLot.freePlaces > 0" mat-raised-button color="primary" (click)="reserve()" >שריון חניה</button>
    </div>
  </mat-card>
</div>