

<div class="card-container">
  <mat-card>
    <div class="parking-lot-name">
      <i class="material-icons car-icon" [ngClass]="(parkingLot.freePlaces > 0) ? 'green' : (parkingLot.aboutToBeFreePlaces - parkingLot.waitingToEnter > 0) ? 'orange' : 'red'">directions_car</i>
      <span class="parking-name">{{parkingLot.name}}</span>
    </div>
    <div class="status-section">

      <div class="parking-lot-status">
        מקומות פנויים : {{parkingLot.freePlaces}} מתוך {{parkingLot.totalPlaces}}
      </div>
      <div class="parking-lot-about-to-be-free" *ngIf="parkingLot.aboutToBeFreePlaces - parkingLot.waitingToEnter > 0">
        <span>{{parkingLot.aboutToBeFreePlaces - parkingLot.waitingToEnter}} מתפנה בקרוב</span>
      </div>
    </div>
    <div class="reserve-btn">
      <button [disabled]="parkingLot.freePlaces > 0 || parkingLot.aboutToBeFreePlaces - parkingLot.waitingToEnter <= 0" mat-raised-button color="primary" (click)="reserve()" >שריון חניה</button>
    </div>
  </mat-card>
</div>