<div style="direction: rtl;">
        <app-user-auth></app-user-auth>
       
        <div *ngIf="userState==1">  <!-- enter -->
            <div *ngFor = "let parkingLotStatus of parkingLotStatusList" >
                <app-park-status [parkingLot]="parkingLotStatus" (reserveParking)="onReserveParking()"></app-park-status>
            </div>
      </div>
      
      <div *ngIf="userState==2"> <!-- exit -->
              <app-exit-request [parkingLotToExit]="parkingLotToExitFrom"></app-exit-request>
      </div>
      
</div>
      
      